@font-face {
    font-family: 'realmadrid2009regular';
    src: url('realmadrid2009-webfont.eot');
    src: url('realmadrid2009-webfont.eot?#iefix') format('embedded-opentype'),
         url('realmadrid2009-webfont.woff2') format('woff2'),
         url('realmadrid2009-webfont.woff') format('woff'),
         url('realmadrid2009-webfont.ttf') format('truetype'),
         url('realmadrid2009-webfont.svg#realmadrid2009regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.hide {
    display: none;
}

hr {
    border: 1px solid #eee;
}

.logo-title {
    text-align: center;
    font-family: 'RealMadrid2009', 'Helvetica Neue', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif' !important;
    font-weight: 300;
}

.sub-heading {
    margin: 30px auto;
}

img.don-img {
    width: 80%;
}
.about-container {
    margin: 30px auto;
    text-align: center;
}

a.logo-link:hover {
    text-decoration: none !important;
}

.navigation  {
    text-align: center;
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
}

.navigation a{
    color: black;
}

img:hover {
    opacity: 0.8;
}

/* CUSTOM TITLES */
.custom-title-1 {
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif';
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px;
}

.custom-title-2 {
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif';
    /*font-weight: 300;*/
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 19px;
    margin: 0 auto;
}



/* CART PAGE */
td {
    vertical-align: middle !important;
}

a.glyphicon.glyphicon-remove {
    color: red;
}

.cart-totals .col-xs-6 {
    line-height: 23px;
}

.cart-totals button.custom-button-1 {
    margin-top: 10px;
}

/* CHECKOUT STEP 3 PAGE */

.container.checkout-step-3 {
    margin-top: 0;
}

form.checkout-form {
    /*width: 80%;*/
}

/* MY PROFILE PAGE */
.account-container {
    margin: 30px auto;
}

ul.list-group {
    list-style: none;
}

.order-item {
    text-decoration: underline;
}

.order-list  {
    margin: 0;
}

/* CUSTOM BUTTONS */
.custom-button-1 {
    background-color: #ebe9eb;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 100%;
}

.custom-button-1:hover {
    font-style: italic;
}

button.custom-button-1.product-list {
    width: 60%;
    padding: 5px;
}

button.custom-button-1.product-detail {
    width: 30%;
}

.custom-form {
    width: 60%;
}

.productItem img {
    cursor: pointer;
}

.x-icon-containers {
    height: 60px;
}

img.x-icon {
    width: 40px;
    float: right;
    cursor: pointer;
    transition: width 0.5s ease;
}

img.x-icon:hover {
    width: 50px;
    transition: width 0.5s ease;
}

span.gift-message {
    /*padding-bottom: 35px;*/
    padding: 55px 0;
    display: block;
}

.productSearch{
    text-align: center;
    margin-bottom: 20px;
}

.productItem {
    padding: .9em 0;
    margin-top:0;
    /*margin-bottom:40;*/
    margin-left:2;
    margin-right:2;
    /*height: 435px;*/
}

.productItem img {
    width: 100%;
}


.productItem h3 {
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif'!important;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px !important;
}

.productItem button{
   /*position: absolute;*/
   /*bottom:   0;*/
}


/* PRODUCT LIST CONTAINER */
.col-md-3 {
    padding-right: 1px;
    padding-left: 1px;
}
