@font-face {
    font-family: 'realmadrid2009regular';
    src: url('realmadrid2009-webfont.eot');
    src: url('realmadrid2009-webfont.eot?#iefix') format('embedded-opentype'),
         url('realmadrid2009-webfont.woff2') format('woff2'),
         url('realmadrid2009-webfont.woff') format('woff'),
         url('realmadrid2009-webfont.ttf') format('truetype'),
         url('realmadrid2009-webfont.svg#realmadrid2009regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    font-weight: 300;
}

.hide {
    display: none;
}

hr {
    border: 1px solid #eee;
}

.logo-title {
    text-align: center;
    font-family: 'RealMadrid2009', 'Helvetica Neue', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif' !important;
    font-weight: 300;
}

.navigation  {
    text-align: center;
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
}

.navigation a{
    color: black;
}

.container {
    margin-top: 40px;
}

.content-container {
    margin-top: 40px;
}


/* CUSTOM TITLES */
.custom-title-1 {
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif';
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px;
}


/* CART PAGE */
td {
    vertical-align: middle !important;
}

a.glyphicon.glyphicon-remove {
    color: red;
}

.cart-totals .col-xs-6 {
    line-height: 23px;
}

.cart-totals button.custom-button-1 {
    margin-top: 10px;
}

/* CHECKOUT STEP 3 PAGE */

.container.checkout-step-3 {
    margin-top: 0;
}

form.checkout-form {
    width: 80%;
}

/*.address-checkout {
    padding-bottom: 30px;
}
*/
/* MY PROFILE PAGE */
ul.list-group {
    list-style: none;
}

.order-item {
    text-decoration: underline;
}

.order-list  {
    margin: 0;
}

/* CUSTOM BUTTONS */
.custom-button-1 {
    background-color: #ebe9eb;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 100%;
}


.productSearch{
    text-align: center;
    margin-bottom: 20px;
}
.productSearch input{
    width:85%;
}

.productItem{
    padding: .9em 0;
    margin-top:0;
    margin-bottom:40;
    margin-left:2;
    margin-right:2;
    height: 435px;
}

.productItem img{
    width: 100%;
}


.productItem h3{
    font-family: 'Helvetica Neue', 'RealMadrid2009', 'Arial Narrow', 'Helvetica Neue', Arial, 'san serif'!important;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px !important;
}

.productItem button{
   position: absolute;
   bottom:   0;
}
/*
.productsList{
    margin:5%;
}
*/
